<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Anjani's Web App</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <header>
        <h2>Welcome to Anjani's Web App</h2>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; 2025 Anjani - Student ID: 500238659
    </footer>
</body>
</html>
