@page
@model MyWebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h1>Hello, I'm <span class="highlight">Anjani</span>!</h1>
<p>Student ID: <strong>500238659</strong></p>

<img src="https://azurecomcdn.azureedge.net/cvt-59a9bbcc141a03f6e25eb82c3f12e2a3bf13eea1e787ec7f8f7818b317d1e0b0/images/page/services/webapp_2x.png" alt="Azure Web App" />
